body{
    background-color: rgb(134, 134, 134);
    color: rgb(0, 27, 143);
    font-family: 'Quicksand', sans-serif;
}

.container{
    margin: 0 auto !important;
    width: 100% !important;
}

nav{
    background-color: rgb(134, 134, 134) !important;
    margin: 0 auto !important;
}

.info-box{
    margin:0 auto;
    width: 40%;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
}

.modal-content{
    text-align: center;
    padding-bottom: 20%;
}

.brand-logo{
    left: 2%;
}

h1, h5{
    color: rgb(204, 1, 11);
}

h2, h3{
    color: white;
    text-align: center;
}

h4, h5{
    text-align: center;
    padding-bottom: 2%;
}

.blue-text{
    text-decoration: none;
}

h6{
    color: black;
    text-shadow: 20px black;
    font-size: 25px;
    padding-bottom: 2%;
    color: rgb(0, 7, 97);
}

p{
    text-align: center;
    color: rgb(162, 2, 10);
    padding-bottom: 2%;
}

.movie-heading{
    color: red;
}

.error404-box{
    width: 60%;
    margin:0 auto !important;
}

.back-home{
    margin:0 auto !important;
}

#movieBtn{
    background-color: rgb(204, 1, 11);
    width: 265px;
    height: 265px;
    box-shadow: 20px black;
    font-size: 20px;
}

#snacksBtn, #newMovie{
    background-color: rgb(204, 1, 11);
}

@media only screen and (max-width: 980px){
    .info-box{
        width: 80%;
    }
    .modal.modal-footer.btn {
        width: 40%;
        font-size: 14px;
        padding: 0;
    }
}

video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
