body{
    background-color: rgb(42, 153, 255);
    color: rgb(0, 27, 143);
}

.modal-content{
    text-align: center;
    padding-bottom: 20%;
}

h4, h5{
    color: black;
    text-decoration: underline;
}

h6{
    color: black;
    font-size: 25px;
}

p{
    text-align: center;
    padding-bottom: 5%;
    color: rgb(0, 18, 255);
}

#movieBtn{
    width: 265px;
    height: 265px;
    box-shadow: 20px black;
    font-size: 20px;
}
